@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans; /* Apply the font globally */
}
/* Add this in a global CSS file */
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

.overflow-x-auto {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
